.clearfix.list-headers
  .sixth
    %label
      = t"product.name"
  .seventh
    %label
      = t"product.code"      
  .eight
    %label        
      = t"orders.packages_count"
  .fifth
    %label      
      = t"orders.package_size"
      = "/"
      = t"unit.title"
  .sixth.a-r
    %label      
      = t"orders.package_price"
      = " (#{@currency})"
  .sixth
    %label      
      = t"expiration_date"            
  .small-button-column
    %label
      = ""