.clearfix.product{ "data-product-id" => op.product_id }
  .sixth
    .input-holder{ "title" => op.name } 
      = op.name
  .seventh
    .input-holder
      = op.product_code      
  .eight.packages-quantity
    .input-holder      
      = op.packages_quantity      
  .fifth
    .input-holder      
      = op.packages_size
      = " " 
      = unit(op.unit)     
  .sixth.package-price
    .input-holder      
      = op.package_price
  .sixth.package-price
    .input-holder      
      = op.expiration_date

  - unless @disabled      
    .small-button-column
      .circle-button.small.remove-offer-product.float-right{"remove-message" => "#{t'actions.confirm'}" }
        = "x"