.clearfix.product{ "data-product-id" =>  sop.id }
  .sixth
    .input-holder
      = sop.name
  .sixth
    .input-holder
      = sop.product_code      
  .eight.packages-quantity
    .input-holder      
      = sop.packages_quantity       
  .sixth
    .input-holder      
      = sop.packages_size
      = " "
      = unit(sop.packages_unit)
  .sixth.package-price.a-r
    .input-holder      
      = number_to_currency(sop.package_price, :unit => "")
  .sixth.package-price   
    .input-holder      
      = sop.expiration_date   

  - unless @order_disabled
    .small-button-column
      .circle-button.small.remove-supplier-order-product.float-right{"remove-message" => "#{t'actions.confirm'}" }
        = "x"