.clearfix.product.list-element{ "data-product-supply-id" => ps.product_supply_id }
  .third
    .input-holder
      = ps.name
  .third
    .input-holder
      = ps.product_code
  .quarter
    .input-holder
      = ps.packages_size
      = " "
      = unit(ps.unit)

  .small-button-column
    .circle-button.small.remove-product-supply.float-right{"remove-message" => "#{t'actions.confirm'}" }
      %i.fa.fa-close
