.clearfix.list-headers
  .third
    %label
      = t"product.name"
  .third
    %label
      = t"product.code"
  .quarter
    %label
      = t"orders.package_size"
      = "/"
      = t"unit.title"
  .small-button-column
    %label
      = ""
