.page-content.clearfix
  #retail
    = form_for(@retail) do  |f|
      = f.hidden_field :user_id, :value => current_user.id

      .half-page.left.scroll
        .content
          .row.clearfix
            .half
              %label
                = t"retail.payment_type"
              - unless @disabled
                = payment_type_select(f, @retail.payment_type)
              - else
                .input-holder
                  = payment_type(@retail.payment_type)

            .half.last
              %label
                = t"retail.delivery_type"
              - unless @disabled
                = delivery_type_select(f, @retail.delivery_type)
              - else
                .input-holder
                  = @retail.delivery_type

          - unless remove == true
            = render :partial => '/retails/retail_products_form', :locals => { :f => f }
          - else
            = render :partial => '/retails/retail_products_list', :locals => { :f => f }


      .half-page.scroll
        .content
          = render :partial => "retails/sum", :locals => { :current_view => current_view, :f => f }

          .row.clearfix
            %label
              = t"notes"

            - unless @disabled
              = f.text_area :note
            - else
              .input-holder
                = @retail.note

      .clearfix.action-cover

        - unless @disabled
          = f.submit action, :class => "button"

        - if remove == true
          = link_to "#{t'actions.remove'}",  @retail,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"

        - else
          = link_to "#{t'actions.cancel'}",  @retail, :class => "button remove"

    - if remove == true
      .hide.hidden-form
        = render :partial => '/generic/products/form', :locals => { :@product_object => @retail_product , :@object_id => "retail_id" }
