%tr
  %th
    = t'id' 
  %th
    = t'date'                             
  %th
    = t'retail.payment_type'        
  %th
    = t'retail.delivery_type'
  %th.currency
    = t'orders.sum'
  %th.currency
    = t'retail.transport'    
  %th.currency
    = t'orders.total_price'    
