.page-content.clearfix
  .content
    %table
      = render :partial => "retails/list_headers"

      - @retails.each do |retail|
        %tr.data{"data-retail-id" => retail.id, "data-just-now" => "#{t'invoice.just_now'}", "data-link" => "retails/#{retail.id}/edit"}
          %td
            = retail.id          
          %td.currency
            = number_to_currency(retail.sum, :unit => "")      