.page-content.clearfix

  .content

    %table

      = render :partial => '/retails/list_headers'

      - @retails.each do |retail|

        %tr.data{"data-retail-id" => retail.id, "data-just-now" => "#{t'invoice.just_now'}", "data-link" => "retails/#{retail.id}/edit"}
          %td
            = retail.id
          %td
            %strong
              = retail.created_at.strftime("%H: %M")
            = " - "
            = display_date(retail.created_at)
          %td
            = payment_type(retail.payment_type)
          %td
            = delivery_type(retail.delivery_type)
          %td
            = retail.customer_name
          %td
            = retail.customer_phone
          %td
            = retail.customer_email
          %td.currency
            = number_to_currency(retail.sum, :unit => "")
          %td.currency
            = number_to_currency(retail.transport_cost, :unit => "")
          %td.currency
            = number_to_currency(retail.transport_cost + retail.sum, :unit => "")

    .clearfix
      = will_paginate @retails
