.page-top.clearfix

  .h-line

  %h1
    = header

  = link_to "/retails/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'retail.add'}"

  .search.clearfix
    .icon
      = "⚲ "
    %input.input{:placeholder => "#{t'retail.search'}" }
