.page-top.clearfix
  .h-line
  %h1
    = header

  = link_to "/retails/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'retail.add'}"

  = render :partial => "/generic/search", :locals => {:placeholder => "#{t'retail.search'}", :category => "retail" }

