.clearfix.list-headers
  - unless @disabled
    .sixth
      %label
        = t"product.name"
  - else
    .quarter
      %label
        = t"product.name"
  .sixth
    %label
      = t"product.code"
  .eight
    %label
      = t"orders.packages_count"
  .eight
    %label
      = t"orders.package_size"
  .eight
    %label
      = t"unit.title"
      - unless model_name == "supplier_order_product"
        %i{:title => "#{t'product.unit_note'}"}
          .fa.fa-question-circle
  .sixth.a-r
    %label.a-r
      = t"orders.package_price"
      = " (#{@currency})"
  .sixth
    %label
      = t"expiration_date"
  .eight
    %label
      = ""
  .eight
    %label
      = ""
