.clearfix.list-headers
  .fifth
    %label
      = t"product.name"
  .sixth
    %label
      = t"orders.packages_count"
  .sixth
    %label
      = t"orders.package_size"
  .sixth
    %label
      = t"unit.title"
  .sixth.a-r
    %label
      = t"orders.package_price"
      = " (#{@currency})"
  .sixth
    %label.a-r
      = t"expiration_date"
  .sixth
    %label
      = ""
