.clearfix.list-headers
  .eight
    %label
      = t"product.name"
  .eight
    %label
      = t"product.code"
  .eight
    %label
      = t"orders.packages_count"
  .eight
    %label
      = t"orders.package_size"
  .eight
    %label
      = t"unit.title"
  .sixth.a-r
    %label
      = t"orders.package_price"
      = " (#{@currency})"
  .eight
    %label
      = t"expiration_date"
  .eight
    %label
      = ""
