.clearfix.product.list-element{ "data-product-id" => product.product_id, "data-ajax-list" => "true", "data-ajax-url" => update_url+product.product_id.to_s, "data-ajax-object" => model_name }

  - unless model_name == "supplier_order_product"
    - title = product.name  + " - " + "#{t'unit.title'}" + ": " + unit(product.unit)
  - else
    - title = product.name

  - unless @disabled
    .sixth
      .input-holder{ "title" => title }
        = product.name
  - else
    .quarter
      .input-holder{ "title" => title }
        = product.name

  .sixth
    .input-holder
      = product.product_code

  .eight.packages-quantity{ "data-ajax-list-element" => "true", "data-ajax-element" => "packages_quantity" }
    - unless @disabled
      %input{ :type => "text", :value => product.packages_quantity, :required => true }
    - else
      .input-holder
        = product.packages_quantity

  .eight{ "data-ajax-list-element" => "true", "data-ajax-element" => "packages_size" }
    - unless @disabled
      %input{ :type => "text", :value => product.packages_size, :required => true }
    - else
      .input-holder
        = product.packages_size

  .eight
    .input-holder
      = unit(product.packages_unit)

  .sixth.package-price.a-r{ "data-ajax-list-element" => "true", "data-ajax-element" => "package_price" }
    - unless @disabled
      %input{:type => "text", :value => product.package_price, :required => true}
    - else
      .input-holder
        = product.package_price

  .sixth
    .input-holder
      = product.expiration_date

  - unless @disabled
    .small-button-column{ :title => "#{t'actions.update'}" }
      .circle-button.small.float-right{ "data-ajax-list-button" => "true" }
        %i.fa.fa-floppy-o

  - unless @disabled
    .small-button-column{ :title => "#{t'actions.remove'}" }
      .circle-button.small.remove-client-order-product.float-right{ "remove-message" => "#{t'actions.confirm'}" }
        %i.fa.fa-close
