.clearfix.list-headers
  - unless @disabled
    .sixth
      %label
        = t"product.name"
  - else
    .quarter
      %label
        = t"product.name"
  .sixth
    %label
      = t"product.code"
  - unless model_name == "stock_product"
    .eight
      %label
        = t"orders.packages_count"
  .eight
    %label
      = t"orders.package_size"
  .eight
    %label
      = t"unit.title"
  .sixth.a-r
    %label.a-r
      - if model_name == "stock_product"
        = t"orders.unit_price"
      - else
        = t"orders.package_price"
      = " (#{@currency})"
  .sixth
    %label.a-r
      = t"expiration_date"
  .eight
    %label
      = ""
  .eight
    %label
      = ""
