%tr
  %th
    = t'id'
  %th
    = t'client.title'
  %th.currency
    = t'orders.sum'
    = " (#{@currency})"
  %th.currency
    = t'invoice.balance'
  %th
    = t'invoice.due_date'
  %th
    = t'invoice.paid_date'
