%label
  = t"payments"

- unless @payments.nil? || @payments.size == 0
  %table.list-headers
    %tr
      %th
        = t'id'
      %th
        = t'invoice.paid_date'
      %th.currency
        = t'orders.sum'
        = " (#{@currency})"

    - @payments.each do |payment|
      %tr.data{"data-link" => "/payments/#{payment.id}/edit"}
        %td
          = payment.id
        %td
          = payment.paid_date
        %td.currency
          = number_to_currency(payment.sum, :unit => "")

- unless remove == false
  - if @balance < 0
    .clearfix.spacer-large
      = link_to "/invoices/mark_invoice_as_paid/#{@invoice.id}?invoice_edit=true", :class => "link-button float-right" do
        %i.fa.fa-credit-card
        = "#{t'invoice.mark_as_paid'}"

      = link_to "/payments/new?id=#{@invoice.id}", :class => "link-button float-right" do
        %i.fa.fa-credit-card
        = "#{t'payment.add_partial_payment'}"

    .clearfix.spacer-large
