- printId = id_format(@invoice.id, @client)

.pdf
    .clearfix
        .half.content.last
            = render :partial => 'generic/pdf/pdf_logo'
        .half.a-r.last.content
            %h1
                = t"invoice.title"
            .pdf-numbers.clearfix
                %label.a-r
                    = t"invoice.id"
                .pdf-primary-number
                    = printId
                %label.a-r
                    = t"offer.reference_id"
                    = ":"
                    = @invoice.reference_id

                = render :partial => 'generic/pdf/pdf_ownership_bank'

                .pdf-row.m-t
                    .a-r
                        = display_date(@invoice.issue_date)

    = render :partial => 'generic/pdf/pdf_client_ownership'

    - if @client.use_tax
        = render :partial => 'generic/pdf/pdf_products_use_tax', :locals => {:@products => @invoice_products, :@payments => @payments, :is_proforma => false}
    - else
        = render :partial => 'generic/pdf/pdf_products_dont_use_tax', :locals => {:@products => @invoice_products, :@payments => @payments, :is_proforma => false}

    .devider

    = render :partial => 'generic/pdf/pdf_payment_conditions'

    .devider

    = render :partial => 'generic/pdf/pdf_signature'







