- if @invoice.sum
  .row.clearfix
    .half
      %label
        = t"invoice.invoice_amount"
        = " (#{@currency})"
      .input-holder.big
        .invoice-sum-holder
          = number_to_currency(@invoice.sum, :unit => "")
        = f.hidden_field :sum, :value => @invoice.sum

    .half.last
      %label
        = t"invoice.invoice_amount_with_tax"
        = " (#{@currency})"
      .input-holder.big
        = number_to_currency(@invoice.sum_with_tax, :unit => "")

- else
  .big
    = f.text_field :sum, :value => 0, disabled: true

- if @proforma
  - unless @invoice == @proforma
    .clearfix
      %label
        = t'invoice.proforma'
        = ": "
        .input-holder
          %strong
            = id_format(@invoice.linked_proforma_id, @client)
    .row.clearfix.m-t
      .half
        %label
          = t'invoice.proforma'
          = " (#{@currency})"
        .input-holder.big
          = number_to_currency(@proforma.sum, :unit => "")
      .half
        %label
          = t'invoice.proforma_invoice_amount_with_tax'
          = " (#{@currency})"
        .input-holder.big
          = number_to_currency(@proforma.sum_with_tax, :unit => "")


- if @balance || @payments_sum
  .row.clearfix
    - if @balance
      .half
        - if @balance
          - @balance_class = balance_class(@balance)
          %label
            = t"invoice.balance"
            = " (#{@currency})"
          .input-holder.big
            %span{:class => @balance_class}
              = number_to_currency(@balance, :unit => "")


    - if @payments_sum
      = render :partial => '/invoices/invoice_payments_sum'





