.row.clearfix
  - if @invoice.sum
    .half
      %label
        = t"invoice.invoice_amount"
        = " (#{@currency})"
      .input-holder.big
        .invoice-sum-holder
          = number_to_currency(@invoice.sum, :unit => "")
        = f.hidden_field :sum, :value => @invoice.sum

    - if @balance
      - @balance_class = balance_class(@balance)
      .half
        %label
          = t"invoice.balance"
          = " (#{@currency})"
        .input-holder.big
          %span{:class => @balance_class}
            = number_to_currency(@balance, :unit => "")

  - else
    .big
      = f.text_field :sum, :value => 0


- if @proforma
  - unless @invoice == @proforma
    .row.clearfix
      .half
        %label
          = t'invoice.proforma'
          = " (#{@currency})"
        .input-holder.big
          = number_to_currency(@proforma.sum, :unit => "")
      = render :partial => '/invoices/invoice_payments_sum'
  - else
    .row.clearfix
      = render :partial => '/invoices/invoice_payments_sum'
- else
  - if @payments_sum
    .row.clearfix
      = render :partial => '/invoices/invoice_payments_sum'