.page-top.clearfix

  .h-line

  %h1
    = header

  - unless current_view == 'proforma-invoices'
    = link_to "/invoices/new", :class => "button" do
      %i.fa.fa-plus-circle
      = "#{t'invoice.add'}"

  - unless current_view == 'proforma-invoices'
    = render :partial => "/generic/search", :locals => {:placeholder => "#{t'invoice.search'}", :category => "invoice" }

  - else
    = render :partial => "/generic/search", :locals => {:placeholder => "#{t'invoice.search'}", :category => "proforma_invoice" }

