.page-top.clearfix

  .h-line

  %h1
    = header

  - unless current_view == 'proforma-invoices'
    = link_to "/invoices/new", :class => "button" do
      %i.fa.fa-plus-circle
      = "#{t'invoice.add'}"

  .search.clearfix
    .icon
      = "⚲ "
    %input.input{:placeholder => "#{t'invoice.search'}" }
