- printId = id_format(@invoice.id, @client)

- if @invoice.proforma
  - current_view = 'proforma-invoices'
  - header = "#{t'invoice.proforma'} #{printId}"
- else
  - current_view = 'invoices'
  - header = "#{t'invoice.title'} #{printId}"

= render :partial => 'generic/top', :locals => {:current_view => current_view}
= render :partial => "invoices/top", :locals => { :header => header , :current_view =>  current_view }
= render :partial => "invoices/form", :locals => { :action =>  "#{t'actions.save'}", :remove => true, :current_view => current_view}
