%tr
  %th
    = t"supply.title"
  %th
    = t"product.location"
  %th
    = t"reason"
  %th
    = t"date"
  %th
    = t"user.title"
  %th.a-r.hide
    = t"orders.package_size"
    = "/"
    = t"unit.title"
  %th.a-r
    = t"orders.package_size"
    = "/"
    = t"unit.title"
