- @order_products.each_with_index do |op, index|
  .product.clearfix
    = deliverynoteproduct.fields_for "deliverynoteproduct[#{index}]" do |deliverynoteproduct|
      .two-sixths
        = products_select(deliverynoteproduct, @products, op.product_id)
      .sixth.packages-quantity
        = deliverynoteproduct.text_field :packages_quantity,  "value" => op.packages_quantity, "data-required" => "true"   
      .sixth
        = deliverynoteproduct.text_field :packages_size , "value" => op.packages_size
      .sixth
        = units_select(deliverynoteproduct, op.unit)        
      .sixth.package-price
        = deliverynoteproduct.text_field :package_price,  "value" => op.package_price, "data-required" => "true" 
