.page-content.clearfix
  #delivery-note
    = form_for(@delivery_note) do  |f|
      = f.hidden_field :user_id, :value => current_user.id

      - unless @order_id. nil?
        = f.hidden_field :order_id, :value => @order_id

      .half-page.left.scroll
        .content
          .row.clearfix
            %label
              = t"client.title"

            - if @disabled
              .input-holder
                = @client.name

            - else
              - unless @order_id. nil?
                .input-holder
                  = @client.name
                  = f.hidden_field :client_id, :value => @client.id
              - else
                = clients_select(f, @clients)

          #delivery-addresses-cover
            - if @delivery_addresses
              .row.clearfix
                %label
                  = t"delivery_address.title"
                - if @disabled
                  .input-holder
                    = @delivery_address.full_address
                - else
                  = delivery_address_select(f, @delivery_addresses, @delivery_note.delivery_address_id)


          .row.clearfix
            .half
              %label
                = t"contact_person"
              = f.text_field :contact_person_name
            .half
              %label
                = t"contact_person_phone"
              = f.text_field :contact_person_phone


          .row.clearfix
            .half
              %label
                = t"client.reference"

              - unless @disabled
                = f.text_field :reference_id
              - else
                .input-holder
                  = @delivery_note.reference_id

            .half.ui-selectmenu-button.last
              %label
                = t"invoice.issue_date"

              - unless @disabled
                = f.text_field :issue_date, :class => "datepicker", "data-required" => "true"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  = @delivery_note.issue_date


          .row.clearfix
            %label
              = t"payment_conditions"

            - unless @disabled

              - unless @delivery_note.payment_condition.nil?
                = payment_conditions_select(f, @payment_conditions, @delivery_note.payment_condition)
              - else
                = payment_conditions_select(f, @payment_conditions)
            - else
              .input-holder
                = @payment_condition.name
                = " - "
                = @payment_condition.text

          - unless remove == true
            = render :partial => '/delivery_notes/delivery_note_products_form', :locals => { :f => f }
          - else
            = render :partial => '/delivery_notes/delivery_note_products_list', :locals => { :f => f }

      .half-page.scroll
        .content

          = render :partial => "/delivery_notes/actions"


          .row.clearfix
            .half
              %label
                = t"orders.sum"
                = " (#{@currency})"

              - unless @disabled
                .big#delivery-note-sum
                  = number_to_currency(@delivery_note.sum, :unit => "")
                  = f.text_field :sum, :placeholder => 0
              - else
                .input-holder.big#delivery_note_sum-holder
                  = number_to_currency(@delivery_note.sum, :unit => "")

          .row.clearfix
            %label
              = t"notes"

            - unless @disabled
              = f.text_area :note
            - else
              .input-holder
                = @delivery_note.note

          - unless @pdfs.nil?
            .row.clearfix.last
              = render :partial => '/generic/pdf'

      .action-cover.clearfix

        - unless @disabled
          = f.submit action, :class => "button"
          = f.submit "#{t'save_pdf'}", :class => "link-button"

        - if remove == true
          = link_to "#{t'actions.remove'}",  @delivery_note,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"
        - else
          = link_to "#{t'actions.cancel'}",  @delivery_note, :class => "button remove"


        .link-button.float-right.ajax-refresh{ "data-url" => "/delivery_notes/pdf/#{@delivery_note.id}.pdf" }
          %i.fa.fa-file-pdf-o
          %i.fa.fa-envelope
          = "#{t'actions.create_pdf_and_email'}"

        = link_to "/delivery_notes/pdf/#{@delivery_note.id}.pdf", :target => "_blank", :class => "link-button float-right" do
          %i.fa.fa-file-pdf-o
          = "#{t'actions.create_pdf_document'}"


    - if remove == true
      .hide.hidden-form
        = render :partial => '/generic/products/form', :locals => { :@product_object => @delivery_note_product , :@object_id => "delivery_note_id" }


