.page-content.clearfix  
  #delivery-note
    = form_for(@delivery_note) do  |f|
      = f.hidden_field :user_id, :value => current_user.id

      - unless @order_id. nil?
        = f.hidden_field :order_id, :value => @order_id

      .half-page.left
        .content               
          .row.clearfix
            %label
              = t"client.title"

            - if @disabled            
              .input-holder
                = @client.name

            - else
              - unless @order_id. nil?
                .input-holder
                  = @client.name
                  = f.hidden_field :client_id, :value => @client.id
              - else
                = clients_select(f, @clients)

          .row.clearfix
            .half
              %label
                = t"client.reference" 
              - unless @disabled                                  
                = f.text_field :reference_id
              - else
                .input-holder
                  = @delivery_note.reference_id
            
            .half.ui-selectmenu-button.last
              %label
                = t"invoice.issue_date" 
              
              - unless @disabled     
                = f.text_field :issue_date, :class => "datepicker", "data-required" => "true"   
                %span.ui-icon.ui-icon-triangle-1-s                 
              - else
                .input-holder
                  = @delivery_note.issue_date


          - unless remove == true   
            = render :partial => '/delivery_notes/delivery_note_products_form', :locals => { :f => f }
          - else
            = render :partial => '/delivery_notes/delivery_note_products_list', :locals => { :f => f }

      .half-page.scroll
        .content    
        
          = render :partial => "/delivery_notes/actions"        
             
          .row.clearfix
            .half
              %label
                = t"orders.sum"

              - unless @disabled
                .big#delivery-note-sum
                  = f.text_field :sum, :placeholder => 0
              - else
                .input-holder.big
                  = @delivery_note.sum
          

          .row.clearfix
            %label          
              = t"payment_conditions"

              - unless @disabled
              
                - unless @delivery_note.payment_condition.nil?
                  = payment_conditions_select(f, @payment_conditions, @delivery_note.payment_condition)   
                - else
                  = payment_conditions_select(f, @payment_conditions)
              - else
                .input-holder
                  = @payment_condition.name
                  = " - "
                  = @payment_condition.text
                                                   
          .row.clearfix
            %label
              = t"notes"      

              - unless @disabled        
                = f.text_area :note
              - else
                .input-holder
                  = @delivery_note.note


      .action-cover.clearfix

        = f.submit action, :class => "button"
     
        - if remove == true      
          = link_to "#{t'actions.remove'}",  @delivery_note,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"                   
        - else
          = link_to "#{t'actions.cancel'}",  @delivery_note, :class => "button remove"      
           

    - if remove == true
      .hide.hidden-form      
        = render :partial => '/delivery_note_products/form'          
