.page-content.clearfix
  .content
    %table

      = render :partial => '/delivery_notes/list_headers'

      - @delivery_notes.each do |delivery_note|

        %tr.data{"data-order-id" => "#{delivery_note.id}", "data-link" => "/delivery_notes/#{delivery_note.id}/edit"}
          %td
            = delivery_note.id
          %td
            = delivery_note.company_name
          %td.currency
            = number_to_currency(delivery_note.sum, :unit => "")
          %td
            = delivery_note.reference_id
