.page-top.clearfix
  .h-line
  %h1
    = header

  = link_to "/delivery_notes/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'delivery_note.add'}"

  - if search ==  true
    .search.clearfix
      .icon
        = "⚲ "
      %input.input{:placeholder => "#{t'delivery_note.search'}" }