.pdf
    .clearfix
        .half.content.last
            = render :partial => 'generic/pdf/pdf_logo'
        .half.a-r.last.content
            %h1
                = t"delivery_note.title"
            .pdf-numbers.clearfix
                %label.a-r
                    = t"delivery_note.id"
                .pdf-primary-number
                    = @delivery_note.id
                %label.a-r
                    = t"offer.reference_id"
                    = ":"
                    = @delivery_note.reference_id

                = render :partial => 'generic/pdf/pdf_ownership_bank'

                .pdf-row.m-t
                    .a-r
                        = display_date(@delivery_note.issue_date)

    = render :partial => 'generic/pdf/pdf_client_ownership'

    .clearfix
        .devider.clearfix
            .half
                .content
                    .pdf-row
                        %label
                            = t"delivery_address.title"
                    .pdf-row
                        = @delivery_address.street
                        = @delivery_address.street_number
                    .pdf-row
                        = @delivery_address.city
                    .pdf-row
                        = @ownership.zip_code
            .half.last
                .content
                    .pdf-row
                        %label
                            = t"contact_person"
                        = @delivery_note.contact_person_name
                    .pdf-row
                        %label
                            = t"phone"
                        = @delivery_note.contact_person_phone

        .devider.clearfix

    .clearfix.pdf-table.m-t
        %table
            %thead
                %tr
                    %th.name
                        = t"product.name"
                    %th
                        = t"product.code"
                    %th
                        = t"orders.packages_count"
                    %th
                        = t"orders.package_size"
                        = "/"
                        = t"unit.title"
                    %th
                        = t"orders.package_price"
                    %th
                        = t"expiration_date"

            %tbody

                - total = 0

                - @delivery_note_products.each do |op|

                    %tr
                        %td.name
                            = op.name
                        %td
                            = op.product_code
                        %td
                            = op.packages_quantity
                        %td
                            = op.packages_size
                            = " "
                            = unit(op.unit)
                        %td
                            = op.package_price
                        %td
                            = op.expiration_date


    .devider

    = render :partial => 'generic/pdf/pdf_signature'








