.page-content.clearfix
  = form_for(@task) do  |f|
    = f.hidden_field :user_id, :value => current_user.id
    .half-page.left
      .content
        .row.clearfix
          %label
            = t"task.name"
          = f.text_field :name, "data-required" => "true"
        .row.clearfix
          %label
            = t"task.description"
          = f.text_field :message

        .row.clearfix.m-t
          %label
            = t"frequency.title"
          = task_frequency_select(f, @task.frequency_value)

    .half-page

      - if @task.condition_object
        - @section_class = ""
        - @button_class = "hide"
      - else
        - @section_class = "hide"
        - @button_class = ""


      .content
        .clearfix
          .button#show-stock-option{:class => @button_class}
            %i.fa.fa-plus-circle
            = "Stock condition"

          .hidden-form.clearfix.m-t#stock-value{:class => @section_class}
            .row.clearfix.m-t
              %label
                = t"remind_when"
              = task_supplies_select(f, @supplies)

            .row.clearfix
              .half
                %label
                  = t"stock.stock_value"
                = operator_select(f, 1)
              .quarter
                .m-t
                  = f.text_field :condition_value
              .quarter
                .m-t
                  = task_units_select(f, "")


    .clearfix.action-cover
      = f.submit action, :class => "button"
