%table
  = render :partial => 'tasks/list_headers'


  - if @tasks.size > 0

    - @tasks.each do |task|
      %tr.data{"data-product-id" => "#{task.id}", "data-link" => "/tasks/#{task.id}/edit"}
        %td
          = task.id
        %td
          = task.name
        %td
          = task.message
        %td
          = task.supply_name
        %td
          - unless task.condition_value.nil?
            = operator(task.operator)
        %td
          = task.condition_value
        %td
          = unit(task.condition_unit)
        %td
          = frequency(task.frequency_value)


.clearfix
  = will_paginate @tasks
