%tr
  %th
    = t'id'
  %th
    = t'task.name'
  %th
    = t'task.description'
  %th
    = t'supply.title'
  %th
    = t"condition"
  %th
    = t"stock.stock_value"
  %th
    = t'unit.title'
  %th
    = t"frequency.title"
