.clearfix.list-headers
  .fifth
    %label
      = t"product.name"
  .sixth.packages-quantity
    %label        
      = t"orders.packages_count"      
  .sixth
    %label      
      = t"orders.package_size"
  .sixth
    %label      
      = t"unit.title"      
  .sixth.package-price
    %label      
      = t"orders.package_price"
  .sixth
    %label      
      = t"expiration"      