.page-content.clearfix  
  #client-order
    = form_for(@client_order) do  |f|
      = f.hidden_field :user_id, :value => current_user.id
      = f.hidden_field :status, :value => 1

      .half-page.left
        .content       
          .row.clearfix
            .half        
              %label
                = t"client.title"

              - unless @disabled
                = clients_select(f, @clients)
              - else
                .input-holder
                  = @client.name                  
            .half.last
              %label
                = t"orders.status"

              - status = @client_order.status

              - unless @disabled
                = client_order_status_select(f, status)
              - else
                .input-holder
                  = @client_order.status

          .row.clearfix
            .half
              %label
                = t"client.reference"
                
                - unless @disabled                                 
                  = f.text_field :reference_id
                - else
                  .input-holder
                    = @client_order.reference_id

            .half.las    
              %label
                = t"orders.exp_delivery_date"
              
              - unless @disabled                  
                = f.text_field :expected_delivery
              - else
                .input-holder
                  = @client_order.expected_delivery    

          .row.clearfix  
            .half.ui-selectmenu-button
              %label
                = t"orders.distribution_date"

              - unless @disabled
                = f.text_field :distribution, :class => "datepicker"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  = @client_order.distribution

            .half.ui-selectmenu-button.last
              %label
                = t"orders.order_confirmation_date"

              - unless @disabled
                = f.text_field :order_confirmation, :class => "datepicker"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  = @client_order.order_confirmation

          - unless remove == true   
            = render :partial => '/client_orders/client_order_products_form', :locals => { :f => f }
          - else
            = render :partial => '/client_orders/client_order_products_list', :locals => { :f => f }

        
      .half-page.scroll
        .content

          - if remove == true
          
            .clearfix
              = render :partial => '/client_orders/actions', :locals => { :f => f } 
          .row.clearfix
            .half
              %label
                = t"orders.sum"
              .big#total-order-sum
                - unless @disabled
                  = f.text_field :sum, :placeholder => 0
                - else
                  .input-holder.big
                    = @client_order.sum

            .half
                         
                      
          - if @offer_id
            = render :partial => '/client_orders/offer', :locals => { :f => f }              

          .row.clearfix
            %label          
              = t"payment_conditions"

              - unless @disabled
                - unless @client_order.payment_condition.nil?
                  = payment_conditions_select(f, @payment_conditions, @client_order.payment_condition)   
                - else
                  = payment_conditions_select(f, @payment_conditions)
              - else
                .input-holder                  
                  = @payment_condition.name
                  = " - "
                  = @payment_condition.text
                                                   
          .row.clearfix
            %label
              = t"delivery_terms"
              
              - unless @disabled
                = f.text_area :delivery_terms
              - else
                .input-holder
                  = @client_order.delivery_terms

          .row.clearfix
            %label
              = t"notes"  
              
              - unless @disabled            
                = f.text_area :note
              - else
                .input-holder
                  = @client_order.note                
        

      .action-cover.clearfix

        = f.submit action, :class => "button"

        - if remove == true    

          = link_to "#{t'actions.remove'}",  @client_order,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"          

        - else
          = link_to "#{t'actions.cancel'}",  @client_order, :class => "button remove"      




    - if remove == true

      .hide.hidden-form      
        = render :partial => '/client_order_products/form'
                  
                              