.page-content.clearfix
  #client-order
    = form_for(@client_order) do  |f|
      = f.hidden_field :user_id, :value => current_user.id
      = f.hidden_field :status, :value => 1

      .half-page.left.scroll
        .content
          .row.clearfix
            .half
              %label
                = t"client.title"

              - unless @disabled
                = clients_select(f, @clients)
              - else
                .input-holder
                  = @client.name
            .half.last
              %label
                = t"orders.status"

              - status = @client_order.status

              - unless @disabled
                = client_order_status_select(f, status)
              - else
                .input-holder
                  = status(@client_order.status)

          .row.clearfix
            .half
              %label
                = t"client.reference"

              - unless @disabled
                = f.text_field :reference_id
              - else
                .input-holder
                  = @client_order.reference_id

            .half.last.ui-selectmenu-button
              %label
                = t"orders.exp_delivery_date"

              - unless @disabled
                = f.text_field :expected_delivery, :class => "datepicker"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  = @client_order.expected_delivery

          .row.clearfix
            .half.ui-selectmenu-button
              %label
                = t"orders.distribution_date"

              - unless @disabled
                = f.text_field :distribution, :class => "datepicker"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  = @client_order.distribution

            .half.ui-selectmenu-button.last
              %label
                = t"orders.order_confirmation_date"

              - unless @disabled
                = f.text_field :order_confirmation, :class => "datepicker"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  = @client_order.order_confirmation


          .row.clearfix
            %label
              = t"payment_conditions"

            - unless @disabled
              - unless @client_order.payment_condition.nil?
                = payment_conditions_select(f, @payment_conditions, @client_order.payment_condition)
              - else
                = payment_conditions_select(f, @payment_conditions)
            - else
              .input-holder
                = @payment_condition.name
                = " - "
                = @payment_condition.text

          - unless remove == true
            = render :partial => '/client_orders/client_order_products_form', :locals => { :f => f }
          - else
            = render :partial => '/client_orders/client_order_products_list', :locals => { :f => f }


      .half-page.scroll
        .content

          - if remove == true

            .clearfix
              = render :partial => '/client_orders/actions', :locals => { :f => f }
          .row.clearfix
            .half
              %label
                = t"orders.sum"
                = " (#{@currency})"
              .big#total-order-sum
                - unless @disabled
                  = f.text_field :sum, :placeholder => 0
                - else
                  .input-holder.big
                    = number_to_currency(@client_order.sum, :unit => "")

            .half


          - if @offer_id
            = render :partial => '/client_orders/offer', :locals => { :f => f }

          .row.clearfix
            = render :partial => '/generic/attachments'

          .row.clearfix
            %label
              = t"delivery_terms"

            - unless @disabled
              = f.text_area :delivery_terms
            - else
              .input-holder
                = @client_order.delivery_terms

          .row.clearfix
            %label
              = t"notes"

            - unless @disabled
              = f.text_area :note
            - else
              .input-holder
                = @client_order.note

          - unless @pdfs.nil?
            .row.clearfix.p-b
              = render :partial => '/generic/pdf'

      .action-cover.clearfix

        - unless @disabled
          = f.submit action, :class => "button"
          = f.submit "#{t'save_pdf'}", :name => "commit-pdf", :class => "link-button"

        - if remove == false
          = f.submit "#{t'save_attach'}", :name => "commit-attach", :class => "link-button"

        - if remove == true
          = link_to "#{t'actions.remove'}",  @client_order,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"

        - else
          = link_to "#{t'actions.cancel'}",  @client_order, :class => "button remove"

        - if remove == true

          = link_to "/client_orders/pdf/#{@client_order.id}.pdf", :target => "_blank", :class => "link-button float-right" do
            %i.fa.fa-file-pdf-o
            = "#{t'actions.create_pdf_document'}"

          .link-button.attach-file.float-right
            .fa.fa-cloud-upload
            = "#{t'actions.attach'}"

    - if remove == true
      .hide.hidden-form
        = render :partial => '/generic/products/form', :locals => { :@product_object => @client_order_product , :@object_id => "order_id" }

    = render :partial => 'generic/attachment', :locals => { :@file => @client_order_upload, :@file_type =>  "attachment", :@model => "client_order", :@model_id => @client_order.id }

    .hide.hidden-upload-form
      .link-button.attach-file.float-right
        .fa.fa-cloud-upload
        = "#{t'actions.attach'}"

      = render :partial => 'generic/attachment', :locals => { :@file => @client_order_upload, :@file_type =>  "attachment", :@model => "client_order", :@model_id => @client_order.id }




