%tr
  %th
    = t'id'
  %th
    = t'company.title'
  %th.currency
    = t'orders.sum'
    = " (#{@currency})"
  %th
    = t'orders.exp_delivery_date'
  %th
    = t'orders.distribution_date'
  %th
    = t'orders.status'
  %th
    = t'client.reference'
  %th.float-right
    = t'actions.title'
