- printId = id_format(@client_order.id, @client)

= render :partial => 'generic/top', :locals => {:current_view => 'client-orders'}
= render :partial => 'client_orders/top', :locals => { :header => "#{t'order'} #{printId}"}
= render :partial => 'client_orders/form', :locals => { :action =>  "#{t'actions.save'}", :remove => true }
