= render :partial => 'generic/top', :locals => {:current_view => 'client-orders'}
= render :partial => 'client_orders/top', :locals => { :header => "#{t'orders.new'}"}
= render :partial => 'client_orders/form', :locals => { :action =>  "#{t'actions.create'}", :remove => false }
