.page-content.clearfix
  .half-page.left
    .content
      .row.clearfix
        .half
          .input-holder
            = @stock.product_name

        .half
          .input-holder
            = convert_to_print_value(@stock.unit, @stock.packages_size)
            = " "
            = unit(print_unit(@stock.unit))

      .row.clearfix
        %label
          = unit(@stock.unit)
        .big
          = @stock.packages_size

      .row.clearfix
        .note
          %i.fa.fa-bell
          = t"stock.note"

      .row.clearfix
        - @disabled = true

        = render :partial => '/generic/products/list_headers', :locals => { :model_name => "stock_product" }

        - @stock_products.each do |sp|
          = render :partial => '/generic/products/list', :locals => { :product => sp, :update_url => "/stock_products/update/", :model_name => "stock_product" }

