.page-content.clearfix
  .content
    %table
      = render :partial => '/stocks/list_headers'

      - @stock.each do |stock|
        %tr.data{"data-stock-id" => "#{stock.stock_id}", "data-remove-message" => "#{t'stock.zero_stock'}"}
          %td
            = stock.stock_id
          %td
            = stock.product_name
          %td
            = stock.packages_quantity
          %td
            = stock.packages_size
            = " "
            = unit(stock.unit)
          %td
            = stock.package_price
          %td
            = stock.package_price *  stock.packages_quantity
          -#%td.slide
            -#.slider{ :value => stock.progress }
