%tr
  %th
    = t"id"
  %th
    = t"product.title"
  %th    
    = t"orders.packages_count"
  %th      
    = t"orders.package_size"
    = "/"
    = t"unit.title"
  %th      
    = t"orders.package_price"
  %th      
    = t"orders.total_price"
  -#%th
    = t"stock.percent_in_stock"
      