.page-content.clearfix
  .content
    %table
      = render :partial => '/stocks/list_headers'

      - if @stock.size > 0

        - @stock.each do |stock|

          %tr.data{"data-stock-id" => "#{stock.supply_id}", "data-remove-message" => "#{t'stock.zero_stock'}", "data-link" => "/stocks/#{stock.supply_id}/edit?unit=#{stock.unit}" }
            %td
              = stock.product_name
            %td.a-r.hide
              = stock.packages_size
              = " "
              = unit(stock.unit)
            %td.a-r
              = convert_to_print_value(stock.unit, stock.packages_size)
              = " "
              = unit(print_unit(stock.unit))

      - else
        %tr
          %td{:colspan => 4}
            .note
              = t"no-data"

