= render :partial => 'generic/top', :locals => {:current_view => 'stock'}
= render :partial => "stocks/top", :locals => { :header => "#{t'stock.title'} #{@stock.id}"}
= render :partial => "stocks/form", :locals => { :action =>  "#{t'actions.save'}", :remove => true }
