.page-content.clearfix
  .content
    %table
      = render :partial => 'users/list_headers'
      - @users.each do |user|
        %tr.data{"data-user-id" => user.id, "data-link" => "/users/#{user.id}/edit"}
          %td
            = user.id
          %td
            = user.first_name
          %td
            = user.last_name
          %td
            = user.email
          %td
            = category(user.category.to_i)

    .clearfix
      = will_paginate @users

