= render :partial => 'generic/top', :locals => {:current_view => 'events'}
= render :partial => "events/top", :locals => { :header => "#{t'meetings'}"}

.page-content.clearfix
  #event
    .half-page.left.scroll
      .content
        = render :partial => 'events/events', :locals => { :all_users => false }

    .half-page.scroll
      .content
        = render :partial => 'events/event_form'
