= render :partial => 'generic/top', :locals => {:current_view => 'events'}
= render :partial => "events/top", :locals => { :header => "#{t'event.title'}" }
= render :partial => "events/form", :locals => { :action =>  "#{t'actions.save'}", :remove => false }