= render :partial => 'generic/top', :locals => {:current_view => 'tax-groups'}
= render :partial => 'tax_groups/top', :locals => { :header => "#{t'tax_group.title'}" }
= render :partial => 'tax_groups/form', :locals => { :action =>  "#{t'actions.save'}", :remove => false }