.page-content.clearfix  
  = form_for(@supply) do  |f|  
    = f.hidden_field :user_id, :value => current_user.id    

    .half-page.left
      .content
        .row.clearfix
          %label
            = t"supply.title"
          = f.text_field :name, "data-required" => "true"  
        .row.clearfix
          %label
            = t"product.code"
          = f.text_field :product_code                    
        .row.clearfix
          %label
            = t"notes"
          = f.text_area :note
    .half-page
      .content    


    .clearfix.action-cover
      = f.submit action, :class => "button"
      - if remove == true      
        = link_to "#{t'actions.remove'}",  @supply,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"

      - else
        = link_to "#{t'actions.cancel'}",  @supply, :class => "button remove"      
      