.page-top.clearfix
  .h-line
  %h1
    = header

  = link_to "/supplies/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'supply.add'}"

  = link_to "/supplies", :class => "link-button float-right" do
    %i.fa.fa-list
    = "#{t'supplies'}"


  .search.clearfix
    .icon
      = "⚲ "
    %input.input{:placeholder => "#{t'supply.search'}" }
