= render :partial => 'generic/top', :locals => {:current_view => 'supplies'}
= render :partial => 'supplies/top', :locals => { :header => "#{t'supply.title'} #{@supply.id}" }
= render :partial => 'supplies/form', :locals => { :action =>  "#{t'actions.save'}", :remove => true }