.page-top.clearfix
  .h-line
  %h1
    = header

  - if @category == "clients"
    = link_to "/companies/new?category=#{@category}", :class => "button" do
      %i.fa.fa-plus-circle
      = "#{t'client.add'}"

    = link_to "/companies?category=#{@category}", :class => "link-button float-right" do
      %i.fa.fa-list
      = "#{t'clients'}"

  - elsif @category == "suppliers"
    = link_to "/companies/new?category=#{@category}", :class => "button" do
      %i.fa.fa-plus-circle
      = "#{t'supplier.add'}"

    = link_to "/companies?category=#{@category}", :class => "link-button float-right" do
      %i.fa.fa-list
      = "#{t'suppliers'}"

  - unless @category == "ownership"
    - if @category == "clients"
      = render :partial => "/generic/search", :locals => {:placeholder => "#{t'client.search'}", :category => "clients" }
    - else
      = render :partial => "/generic/search", :locals => {:placeholder => "#{t'supplier.search'}", :category => "suppliers" }

