.page-top.clearfix
  .h-line
  %h1
    = header


  - if @category == "clients"

    = link_to "/companies/new?category=#{@category}", :class => "button" do
      %i.fa.fa-plus-circle
      = "#{t'client.add'}"

    = link_to "/companies?category=#{@category}", :class => "link-button float-right" do
      %i.fa.fa-list
      = "#{t'clients'}"


  - elsif @category == "suppliers"

    = link_to "/companies/new?category=#{@category}", :class => "button" do
      %i.fa.fa-plus-circle
      = "#{t'supplier.add'}"

    = link_to "/companies?category=#{@category}", :class => "link-button float-right" do
      %i.fa.fa-list
      = "#{t'suppliers'}"


  - if search ==  true
    .search.clearfix
      .icon
        = "⚲ "

      - if header == "clients"
        %input.input{:placeholder => "#{t'client.search'}" }
      - else
        %input.input{:placeholder => "#{t'supplier.search'}" }