- if @category == "clients"
  - header = "#{t'clients'}"
- else
  - header = "#{t'suppliers'}"

= render :partial => 'generic/top', :locals => { :current_view => @category }
= render :partial => "companies/top", :locals => { :header => header , :search => true }
= render :partial => "companies/list"