.clearfix.product{ "data-product-id" => cop.product_id }
  .sixth
    .input-holder
      = cop.name
  .seventh
    .input-holder
      = cop.product_code      
  .eight.packages-quantity
    .input-holder      
      = cop.packages_quantity       
  .fifth
    .input-holder      
      = cop.packages_size
      = " "
      = unit(cop.packages_unit)
  .sixth.package-price.a-r
    .input-holder      
      = number_to_currency(cop.package_price, :unit => "")
  .sixth.package-price
    .input-holder      
      = cop.expiration_date

  - unless @disabled      
    .small-button-column
      .circle-button.small.remove-client-order-product.float-right{"remove-message" => "#{t'actions.confirm'}" }
        = "x"