.clearfix.product{ "data-product-id" => dnp.product_id }
  .sixth
    .input-holder
      = dnp.name
  .seventh
    .input-holder
      = dnp.product_code      
  .eight.packages-quantity
    .input-holder      
      = dnp.packages_quantity      
  .fifth
    .input-holder      
      = dnp.packages_size
      = " " 
      = unit(dnp.unit)     
  .sixth.package-price.a-r
    .input-holder      
      = number_to_currency(dnp.package_price, :unit => "")
  .sixth.package-price
    .input-holder      
      = dnp.expiration_date

  - unless @disabled
    .small-button-column
      .circle-button.small.remove-delivery-note-product.float-right{"remove-message" => "#{t'actions.confirm'}" }
        = "x"