.clearfix.list-headers
  .third
    %label
      = t"product.name"
  .fifth
    %label        
      = t"orders.packages_count"
  .fifth
    %label      
      = t"orders.package_size"
      = "/"
      = t"unit.title"
  .fifth
    %label      
      = t"orders.package_price"
  .small-button-column
    %label
      = ""