.page-content.clearfix
  .content
    %table

      = render :partial => '/supplier_orders/list_headers'

      - @supplier_orders.each do |order|

        %tr.data{"data-order-id" => "#{order.order_id}", "data-just-now" => "#{t'invoice.just_now'}", "data-link" => "/supplier_orders/#{order.order_id}/edit", "data-status-stock" => "#{t'status.in_stock'}",  "data-status-out-stock" => "#{t'status.out_of_stock'}", "data-status-sent" => "#{t'status.order_sent'}" }
          %td
            = order.order_id
          %td
            = order.company_name
          %td.currency
            = number_to_currency(order.order_sum, :unit => "")

          - @class = ""

          -  if (order.order_expected_delivery != nil) && (order.order_delivery == nil) && (order.order_expected_delivery < Time.now)
            - @class = "pasive"

          %td{:class => @class }
            - unless order.order_expected_delivery.nil?
              = display_date(order.order_expected_delivery)
          %td.delivery
            - unless order.order_delivery.nil?
              = display_date(order.order_delivery)
          %td
            %span.status
              = status(order.order_status)
          %td
            - unless @order_disabled
              %span

                - unless order.order_status == 7
                  .circle-button.small.float-right.m-l.mark-supplier-order-as-in-stock{ :title => "#{t'status.in_stock'}" }
                    %i.fa.fa-industry

                  - unless order.order_status == 6
                    .circle-button.small.float-right.m-l.mark-supplier-order-as-sent{ :title => "#{t'status.order_sent'}" }
                      %i.fa.fa-paper-plane-o


    .clearfix
      = will_paginate @supplier_orders
