%label.spacer-large            
  = t"products"

.row
  - if @supplier_order_products.size > 0
    = render :partial => '/supplier_order_products/list_headers'
    - @supplier_order_products.each do |sop|
      = render :partial => '/supplier_order_products/list', :locals => { :sop => sop }
  - else
    .no-data
      = t"no_data"
      
- unless @supplier_order.status == 3 #Closed
  #hiden-form-cover
  .row.clearfix.last
    #add-new-supplier-order-product-edit.circle-button.large
      = "+"                                                    
