.product
  = supplierorderproduct.fields_for "supplierorderproduct[#{0}]" do |supplierorderproduct|
    .row.clearfix.list-headers
      .fifth
        %label
          = t"product.name"
        = supplies_select(supplierorderproduct, @supplies)
      .fifth.packages-quantity
        %label        
          = t"orders.packages_count"
        = supplierorderproduct.text_field :packages_quantity, "data-required" => "true"           
      .fifth
        %label      
          = t"orders.package_size"
        = supplierorderproduct.text_field :packages_size
      .fifth
        %label      
          = t"unit.title"
        = units_select(supplierorderproduct)          
      .fifth.package-price
        %label      
          = t"orders.package_price"
        = supplierorderproduct.text_field :package_price, "data-required" => "true"