.page-top.clearfix
  .h-line
  %h1
    = header

  = link_to "/supplier_orders/new", :class => "button"  do
    %i.fa.fa-plus-circle
    = "#{t'orders.new'}"

  = render :partial => "/generic/search", :locals => {:placeholder => "#{t'supplier_order.search'}", :category => "supplier_order"}
