.page-top.clearfix

  .h-line

  %h1
    = header

  = link_to "/supplier_orders/new", :class => "button"  do
    %i.fa.fa-plus-circle
    = "#{t'orders.new'}"

  .search.clearfix
    .icon
      = "⚲ "
    %input.input{:placeholder => "#{t'orders.search'}" }
