= render :partial => 'generic/top', :locals => {:current_view => 'supplier-orders'}
= render :partial => 'supplier_orders/top', :locals => { :header => "#{t'order'} #{@id}", :search => false }
= render :partial => 'supplier_orders/form', :locals => { :action =>  "#{t'actions.save'}", :remove => true }