.pdf-row
    %label.a-r
        = t"bank.title"
        = ":"
        = @ownership.bank
.pdf-row
    %label.a-r
        = t"bank.account_number"
        = ":"
        = @ownership.account_number
.pdf-row
    %label.a-r
        = t"bank.swift_code"
        = ":"
        = @ownership.swift_code
.pdf-row
    %label.a-r
        = t"bank.iban_code"
        = ":"
        = @ownership.iban_code
