.clearfix.pdf-table

    - total = 0

    - @tax_groups.each do |tax_group|

        - tax_group_total = 0

        - @products_tg = @products.where("products.tax_group_id" => "#{tax_group.id}")

        - if @products_tg.size > 0

            .pdf-row.m-t.clearfix

                .devider

                %label.m-t
                    = t'tax_group.title'
                    = tax_group.tax
                    = "%"

                %table.m-t
                    %thead
                        %tr
                            %th.name
                                = t"product.name"
                            %th
                                = t"product.code"
                            %th
                                = t"orders.packages_count"
                            %th
                                = t"orders.package_size"
                                = "/"
                                = t"unit.title"
                            %th
                                = t"orders.package_price"
                            %th
                                = t"expiration_date"
                            %th
                                = t"orders.price"
                                = "-"
                                = @currency


                    - @products_tg.each do |op|

                        %tbody
                            %tr
                                %td.name
                                    = op.name
                                    = op.tax_group_id
                                %td
                                    = op.product_code
                                %td
                                    = op.packages_quantity
                                %td
                                    = op.packages_size
                                    = " "
                                    = unit(op.unit)
                                %td
                                    = op.package_price
                                %td
                                    = op.expiration_date
                                %td.a-r
                                    = number_to_currency(op.packages_quantity * op.package_price, :unit => "")
                                    - tax_group_total = tax_group_total + (op.packages_quantity * op.package_price)


                .totals
                    .clearfix.m-t
                        .total-header
                            = t"orders.sum"
                        .total-sum
                            = @currency
                            = number_to_currency(tax_group_total, :unit => "")

                    .clearfix
                        .total-header
                            = t"tax.title"
                            = tax_group.tax
                            = "%"
                        .total-sum
                            - tax_total = (tax_group_total / 100 ) * tax_group.tax
                            = @currency
                            = number_to_currency(tax_total, :unit => "")

                            - total = total + (tax_group_total + tax_total)


.clearfix.pdf-table
    .devider
        .totals.grand
            - if @payments_sum > 0
                .clearfix
                    .total-header
                        = t"payments"
                        - if @proforma
                            = "("
                            = t"proforma"
                            = ": "
                            = @proforma.id
                            = ")"
                    .total-sum
                        = @currency
                        = number_to_currency(@payments_sum, :unit => "")
                .devider
                .clearfix
                    .total-header
                        = t"orders.sum"
                    .total-sum
                        = @currency
                        = number_to_currency(total, :unit => "")
                .clearfix
                    .total-header
                        %strong
                            = t"orders.total_price"
                    .total-sum
                        %strong
                            = @currency
                            - total_price = total - @payments_sum
                            = number_to_currency(total_price, :unit => "")


            - else
                .clearfix
                    .total-header
                        %strong
                            = t"orders.total_price"
                    .total-sum
                        %strong
                            = @currency
                            = number_to_currency(total, :unit => "")


