.row.clearfix
  .half
    %label
      = t"invoice.number"
    = f.text_field :invoice_id
  .half
    - if @invoice
      - if @invoice.proforma
        - link_text = "#{t'invoice.proforma'} →"
      - else
        - link_text = "#{t'invoice.title'} →"

      = link_to link_text, {:controller => :invoices, :action => :edit, :id => @payment.invoice_id}, :class => "link-button float-right"
