.page-top.clearfix
  .h-line
  %h1
    = header

  = link_to "/payments/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'payment.add'}"

  = link_to "/payments", :class => "link-button float-right" do
    %i.fa.fa-list
    = "#{t'payments'}"


  - if search ==  true
    .search.clearfix
      .icon
        = "⚲ "
      %input.input{:placeholder => "#{t'payment.search'}" }