= render :partial => 'generic/top', :locals => {:current_view => 'payments'}
= render :partial => "payments/top", :locals => { :header => "#{t'payment.title'} #{@payment.id}"}
= render :partial => "payments/form", :locals => { :action =>  "#{t'actions.save'}", :remove => true }
