= render :partial => 'generic/top', :locals => {:current_view => 'payments'}
= render :partial => "payments/top", :locals => { :header => "#{t'payments'}" }
= render :partial => "generic/filter", :locals => { :action => "payment" }
= render :partial => 'payments/list'
