.clearfix.product{ "data-product-id" => ip.product_id }
  .sixth
    .input-holder
      = ip.name
  .seventh
    .input-holder
      = ip.product_code      
  .eight.packages-quantity
    .input-holder      
      = ip.packages_quantity      
  .fifth
    .input-holder      
      = ip.packages_size
      = " " 
      = unit(ip.unit)     
  .sixth.package-price
    .input-holder      
      = ip.package_price
  .sixth.package-price
    .input-holder      
      = ip.expiration_date
  
  - unless @disabled ||  @proforma
    .small-button-column
      .circle-button.small.remove-invoice-product.float-right{"remove-message" => "#{t'actions.confirm'}" }
        = "x"