.content
  %table

    = render :partial => "/stocks/list_headers"

    - @results.each do |stock|

      %tr.data{"data-stock-id" => "#{stock.stock_id}", "data-link" => "/stocks/#{stock.stock_id}/edit"}
        %td
          = stock.stock_id
        %td
          = stock.product_name
        %td.a-r.hide
          = stock.packages_size
          = " "
          = unit(stock.unit)
        %td.a-r
          = convert_to_print_value(stock.unit, stock.packages_size)
          = " "
          = unit(print_unit(stock.unit))
