.clearfix.product{ "data-product-id" => rp.product_id }
  .sixth
    .input-holder
      = rp.name
  .seventh
    .input-holder
      = rp.product_code      
  .eight.packages-quantity
    .input-holder      
      = rp.packages_quantity       
  .fifth
    .input-holder      
      = rp.packages_size
      = " "
      = unit(rp.packages_unit)
  .sixth.package-price.a-r
    .input-holder      
      = number_to_currency(rp.package_price, :unit => "")
  .sixth.package-price
    .input-holder      
      = rp.expiration_date

  - unless @disabled      
    .small-button-column
      .circle-button.small.remove-retail-product.float-right{"remove-message" => "#{t'actions.confirm'}" }
        = "x"