.filter-form
  .content
    = form_for action, :method => :get do |f|
      .clearfix
        .filter-item.clearfix
          %label
            = t"clients"
            = ":"
          .filter-form-element
            - if @client_id
              - if @client_id > 0
                = clients_select_preselected(f, @clients, @client_id)
              - else
                = clients_select(f, @clients, true)
            - else
              = clients_select(f, @clients, true)
        .filter-item.clearfix
          %label
            = t"from"
            = ":"
          .filter-form-element
            .ui-selectmenu-button
              = f.text_field :from,  :class => "datepicker", :value => @from, :"data-value" => @from
              %span.ui-icon.ui-icon-triangle-1-s
        .filter-item.clearfix
          %label
            = t"to"
            = ":"
          .filter-form-element
            .ui-selectmenu-button
              = f.text_field :to,  :class => "datepicker", :value => @to
              %span.ui-icon.ui-icon-triangle-1-s

        .filter-item.clearfix
          = f.submit "filter data", :class => "button"
