.page-content.clearfix
  #offer
    = form_for(@offer) do  |f|
      = f.hidden_field :user_id, :value => current_user.id
      .half-page.left.scroll
        .content
          .row.clearfix
            %label
              = t"client.title"
            - unless @disabled
              = clients_select(f, @clients)
            - else
              .input-holder
                = @client.name

          .row.clearfix
            .half
              %label
                = t"client.reference"
              - unless @disabled
                = f.text_field :reference_id
              - else
                .input-holder
                  = @offer.reference_id

            .half.ui-selectmenu-button.last
              %label
                = t"offer.issue_date"
              - unless @disabled
                = f.text_field :issue_date, :class => "datepicker"
                %span.ui-icon.ui-icon-triangle-1-s
              - else
                .input-holder
                  - unless @offer.issue_date.nil?
                    = display_date(@offer.issue_date)

          .row.clearfix
            %label
              = t"payment_conditions"

            - if remove == true
              - pc = @offer.payment_condition

            - unless @disabled
              = payment_conditions_select(f, @payment_conditions, pc)
            - else
              .input-holder
                = @payment_condition

          - unless remove == true
            = render :partial => '/offers/offer_products_form', :locals => { :f => f }
          - else
            = render :partial => '/offers/offer_products_list'

      .half-page.scroll
        .content

          = render :partial => '/offers/action', :locals => { :f => f, :remove => remove }
          = render :partial => '/offers/order', :locals => { :f => f }


          - unless @pdfs.nil?
            .row.clearfix.last
              = render :partial => '/generic/pdf'

          .row.clearfix
            %label
              = t"delivery_terms"
            - unless @disabled
              = f.text_area :delivery_terms, :cols => 1, :rows => 2
            - else
              .input-holder
                = @offer.delivery_terms

          .row.clearfix
            %label
              = t"notes"
            - unless @disabled
              = f.text_area :note, :cols => 1, :rows => 2
            - else
              .input-holder
                = @offer.note

      .action-cover.clearfix

        = f.submit action, :class => "button"
        = f.submit "#{t'save_pdf'}", :class => "link-button"

        - if remove == true
          = link_to "#{t'actions.remove'}",  @offer,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"
        - else
          = link_to "#{t'actions.cancel'}",  @offer, :class => "button remove"

        = link_to "/offers/pdf/#{@offer.id}.pdf", :target => "_blank", :class => "link-button float-right" do
          %i.fa.fa-file-pdf-o
          = "#{t'actions.create_pdf_document'}"

    - if remove == true
      .hide.hidden-form
        = render :partial => '/generic/products/form', :locals => { :@product_object => @offer_product , :@object_id => "offer_id" }
