= f.fields_for :offerproducts do |offerproduct|

  #offer-products
    %label.spacer-large
      = t"products"

    = render :partial => '/generic/products/list_headers_without_product_code'

    .product
      = offerproduct.fields_for "offerproduct[#{0}]" do |offerproduct|

        .row.clearfix

          .fifth
            = products_select(offerproduct, @products, @products.first)

          .sixth.packages-quantity
            = offerproduct.text_field :packages_quantity, "data-required" => "true"

          .sixth
            = offerproduct.text_field :packages_size

          .sixth
            = units_select(offerproduct)

          .sixth.package-price.a-r
            = offerproduct.text_field :package_price, "data-required" => "true"

          .sixth
            .ui-selectmenu-button
              = offerproduct.text_field :expiration_date , :class => "datepicker", data: { date_format: 'YYYY/MM/DD HH:MM:S' }
              %span.ui-icon.ui-icon-triangle-1-s


  .row.clearfix.last
    #add-new-offer-product.circle-button.large
      %i.fa.fa-plus
