.page-top.clearfix

  .h-line

  %h1
    = header

  = link_to "/offers/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'offer.add'}"

  - if search ==  true
    .search.clearfix
      .icon
        = "⚲ "
      %input.input{:placeholder => "#{t'offer.search'}" }
