.page-top.clearfix
  .h-line
  %h1
    = header

  = link_to "/offers/new", :class => "button" do
    %i.fa.fa-plus-circle
    = "#{t'offer.add'}"

  = render :partial => "/generic/search", :locals => {:placeholder => "#{t'offer.search'}", :category => "offer" }
