= render :partial => 'generic/top', :locals => {:current_view => 'offers'}
= render :partial => "offers/top", :locals => { :header => "#{t'offers'}" , :search => true }
= render :partial => 'offers/list'

- if @pdf_id
    .autosubmit{"data-url" => "/offers/pdf/#{@pdf_id}.pdf"}


