= render :partial => 'generic/top', :locals => { :current_view => 'offers' }
= render :partial => 'offers/top', :locals => { :header => "#{t'offer.add'}" , :search => true }
= render :partial => 'offers/form', :locals => { :action =>  "#{t'actions.create'}", :remove => false }

		