.pdf
    .clearfix
        .half.content.last
            = render :partial => 'generic/pdf/pdf_logo'
        .half.a-r.last.content
            %h1
                = t"offer.title"
            .pdf-numbers.clearfix
                %label.a-r
                    = t"offer.offer_id"
                .pdf-primary-number
                    = @offer.id
                %label.a-r
                    = t"offer.reference_id"
                    = ":"
                    = @offer.reference_id

                = render :partial => 'generic/pdf/pdf_ownership_bank'

                .pdf-row.m-t
                    .a-r
                        = display_date(@offer.issue_date)

    = render :partial => 'generic/pdf/pdf_client_ownership'

    - if @client.use_tax
        = render :partial => 'generic/pdf/pdf_products_use_tax', :locals => {:@products => @offer_products}
    - else
        = render :partial => 'generic/pdf/pdf_products_dont_use_tax', :locals => {:@products => @offer_products}
    .devider

    = render :partial => 'generic/pdf/pdf_payment_conditions'

    .devider

    = render :partial => 'generic/pdf/pdf_signature'








