= render :partial => 'generic/top', :locals => {:current_view => 'stock' }
= render :partial => "product_stock_locations/top", :locals => { :header => "#{t'location.add'}" , :current_view =>  'stock'  }
= render :partial => "product_stock_locations/form", :locals => { :action =>  "#{t'actions.save'}", :remove => false, :current_view => 'stock' }
