.page-content.clearfix  
  = form_for(@product) do  |f|  
    = f.hidden_field :user_id, :value => current_user.id    

    .half-page.left
      .content
        .row.clearfix
          %label
            = t"product.title"
          = f.text_field :name, "data-required" => "true" 
        .row.clearfix
          %label
            = t"notes"
          = f.text_area :note, "data-required" => "true" 



    .half-page
      .content
        %label
          = t"supplies"
        
        - if @product_supplies
          = render :partial => 'products/product_supplies_list', :locals => { :f => f } 
        - else
          = render :partial => 'products/product_supplies_form', :locals => { :f => f } 

    .clearfix.action-cover
      = f.submit action, :class => "button"
      - if remove == true      
        = link_to "#{t'actions.remove'}",  @product,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"

      - else
        = link_to "#{t'actions.cancel'}",  @product, :class => "button remove"   

  - if remove == true
    .hide.hidden-form      
      = render :partial => '/product_supplies/form'           

