= f.fields_for :productsupplies do |productsupply|
  #product-supplies
    .clearfix.list-headers
      .half
        %label
          = t"product.name"
      .quarter
        %label
          = t"orders.package_size"
      .quarter
        %label
          = t"unit.title"

    = render :partial => '/products/product_supply_form', :locals => { :f => f , :productsupply => productsupply}

  .clearfix.spacer-large
    #add-new-product-supply.circle-button.large
      %i.fa.fa-plus
