.product
  = productsupply.fields_for "productsupply[#{0}]" do |productsupply|
    .row.clearfix
      .half
        = supplies_select(productsupply, @supplies)
      .quarter
        = productsupply.text_field :packages_size
      .quarter
        = units_select(productsupply)
