.page-content.clearfix  
  = form_for(@payment_condition) do  |f|  
    = f.hidden_field :user_id, :value => current_user.id    
    = f.hidden_field :admin_id, :value => current_user.admin_id        

    .half-page.left
      .content
        .row.clearfix
          %label
            = t"product.name"
          = f.text_field :name, "data-required" => "true"  
        .row.clearfix
          %label
            = t"payment_condition.text"
          = f.text_area :text, :cols => 1, :rows => 3
    
    .half-page
      .content    


    .clearfix.action-cover
      = f.submit action, :class => "button"
      - if remove == true      
        = link_to "#{t'actions.remove'}",  @payment_condition,  method: :delete, data: { confirm: "#{t'actions.confirm'}" }, :class => "button remove"

      - else
        = link_to "#{t'actions.cancel'}",  @payment_condition, :class => "button remove"      
      